
.face {  
  display: block;
  border-style: solid;
  border-radius: 2em;
  width: 10em;
  height: 10em;
}

.dice1 {
  
  background: url(/img/dice1.svg) no-repeat;
  
}

.dice2 {
  
  background: url(/img/dice2.svg) no-repeat;
  
}

.dice3 {
  
  background: url(/img/dice3.svg) no-repeat;
  
}

.dice4 {
  
  background: url(/img/dice4.svg) no-repeat;
  
}

.dice5 {
  
  background: url(/img/dice5.svg) no-repeat;
  
}

.dice6 {
  
  background: url(/img/dice6.svg) no-repeat;
  
}